DATABASE_URL="postgresql://admin:123@localhost:5432/postgres"
PORT=3002

# JWT
JWT_ACCESS_SECRET="replace_me"
JWT_ACCESS_TTL="15m"

# OAuth (Google)
GOOGLE_CLIENT_ID="replace_me"
GOOGLE_CLIENT_SECRET="replace_me"
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"

# Frontend (for redirects)
FRONTEND_URL="http://localhost:3001"

